@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root {
    --primary-color: #3ca9c2;
    --secondary-color: #303030;
    --background-color: #d9d9d9;
    --border-color: #838383;
    --error-color: #ffc2c2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    all: unset;
    cursor: pointer;
}

html,
body {
    width: 100%;
    height: 100%;
    background: linear-gradient(60deg, rgba(48, 48, 48, 1) 50%, rgba(217, 217, 217, 1) 100%);
    font-family: 'Montserrat', sans-serif;
    color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    display: flex;
    width: 1000px;
    height: 550px;
    overflow: hidden;
}

.column-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 55%;
    background-color: #ffffff;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.column-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    background-color: var(--secondary-color);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    position: relative;
}

.login-wave {
    width: 560px;
    height: 100%;
    background-image: url("../assets/svg/sign-in-sign-up-wave.svg");
    background-repeat: no-repeat;
    transform: rotate(-90deg);
    position: absolute;
    bottom: 0;
    right: 55px;
    z-index: 1;
}

.line-1 {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.line-1 img {
    height: 40px;
    margin-left: 32px;
    user-select: none;
    cursor: pointer;
}

.line-2 {
    width: 60%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 50px;
    z-index: 2;
}

.line-2 h1 {
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: var(--primary-color);
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    margin-top: 12px;
}

.label {
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0 0 8px 24px;
}

.input {
    background-color: var(--background-color);
    border-radius: 50px;
    border: none;
    padding: 12px 48px 12px 24px;
    width: 100%;
    font-size: 1.1rem;
    font-family: 'Montserrat', sans-serif;
    transition: all .4s ease-in-out;
}

.input.error {
    background-color: var(--error-color);
}

.input:focus {
    outline: none;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.52);
}

.email-icon {
    position: absolute;
    top: 41px;
    right: 16px;
    height: 22px;
    cursor: pointer;
    user-select: none;
}

.password-icon {
    position: absolute;
    top: 41px;
    right: 16px;
    height: 22px;
    cursor: pointer;
    user-select: none;
}

.line-2 a {
    font-size: 1rem;
    font-weight: 600;
    align-self: flex-end;
    margin: 8px 8px 0 0;
}

.line-2 a:hover {
    text-decoration: underline;
}

#btnEntrar {
    margin-top: 20px;
    padding: 14px 0;
    width: 100%;
    font-size: 1.1rem;
    font-weight: 500;
    text-transform: uppercase;
    border: none;
    background-color: var(--secondary-color);
    color: #ffffff;
    border-radius: 50px;
    cursor: pointer;
    user-select: none;
    transition: all .4s ease-in-out;
}

#btnEntrar:hover {
    background-color: #262626;
}

.login-error {
    font-size: 1rem;
    font-weight: 600;
    margin-top: 30px;
    color: #e93131;
    opacity: 0;
    visibility: hidden;
    transition: all .4s ease-in-out;
}

.login-error.active {
    opacity: 1;
    visibility: visible;
}

.line-3 {
    height: 15%;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.line-3 p {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.line-3 p a {
    color: var(--primary-color);
}

.line-3 p a:hover {
    text-decoration: underline;
}

.logo {
    height: 60px;
    position: absolute;
    top: 16px;
    right: 12px;
    user-select: none;
    pointer-events: none;
}

.sign-in-icon {
    height: 450px;
    margin-right: 50px;
    user-select: none;
    pointer-events: none;
}