.content {
    display: flex;
}

.column-1 {
    width: 50%;
   
}
.form-usuario{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-endereco input{
    padding: 12px;
    border: none;
    border-radius: 50px;
    width: 340px;
    height: 45px;
}
.border{
    /*display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 430px;
    width: 550px;
    background-color: #303030;
    border-top-left-radius: 40px;
    border-top-right-radius: 140px;
    border-bottom-left-radius: 140px; 
    border-bottom-right-radius: 40px; */
}
.content .column-1 .line-1 {
    height: 50%;
}

input::placeholder{
    color: #3CA9C2;
}

.content .column-1 .line-2 {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content .column-2 .line-1 {
    height: 50%;
}

.content .column-2 .line-2 {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.column-2 {
    width: 50%;
}

label{
    margin-top: 4px;
}

.input-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-container input{
    padding: 12px;
    border: none;
    border-radius: 50px;
    width: 340px;
    height: 45px;
}

.input-container select{
    padding: 12px;
    border: none;
    border-radius: 50px;
    width: 340px;
    color: #3CA9C2;
}

button{
    padding: 12px;
    border: none;
    border-radius: 50px;
    width: 340px;
    cursor: pointer;
}